.app__navbar{
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, .25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgbar(255, 255, 255, .18);
  position: fixed;
  z-index: 2;

  // @-moz-document url-prefix(){
  //   background:
  // }
}

.app__navbar-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 90px;
    height: 20px;

    //no that useful of a comand... todo{test it with 1600px}
    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1; //takes the space remaining after the logo
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    
    flex-direction: column;

    //The following two blocks adds a blue circle over every item in the <ul>
    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;

      margin-bottom: 5px;
    }

    &:hover {
      div {
        background-color: var(--secondary-color);
      }
    }

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover{
        color: var(--secondary-color);
      }
    }
  }

  //We don't want this menu when the screen is smaller than 900px
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    
    padding: 1rem;

    width: 80%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url('../../assets/bgWhite.png');
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0 0 20px rgba(168,168,168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: .5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color)
          }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }

    @media screen and (max-width: 360px) {
      width: 100%;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }

}

#logo{
  position: absolute;
  top: 15%;
  left: 1%;
  animation: fill 1.5s ease forwards 3.5s;

  & path:nth-child(1){
    stroke-dasharray: 471px;
    stroke-dashoffset: 471px;
    animation: line-animation 2s ease forwards;
  }
  & path:nth-child(2){
    stroke-dasharray: 139px;
    stroke-dashoffset: 139px;
    animation: line-animation 2s ease forwards .5s;
  }
  & path:nth-child(3){
    stroke-dasharray: 237px;
    stroke-dashoffset: 237px;
    animation: line-animation 2s ease forwards 1s;
  }
  & path:nth-child(4){
    stroke-dasharray: 180px;
    stroke-dashoffset: 180px;
    animation: line-animation 2s ease forwards 1.5s;
  }
  & path:nth-child(5){
    stroke-dasharray: 159px;
    stroke-dashoffset: 159px;
    animation: line-animation 2s ease forwards 2s;
  }

  &:hover {
    @for $i from 1 through 5{
      path:nth-child(#{$i}){
        animation: emptyAnimation
      }
    }
  }
}

@keyframes line-animation {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    /*We have to add a from because our #logo doesn't have one by default*/
    fill:transparent
  }
  to {
    fill: rgba(65, 65, 65, .8);
  }
}

@keyframes emptyAnimation {
  
}